[submodule "xmarts/h20"]
	path = xmarts/h20
	url = git@github.com:xmarts/h20.git
	branch = 14.0-josuealfaro

[submodule "xmarts/odoo-account-budget-alert-enterprise"]
	path = xmarts/odoo-account-budget-alert-enterprise
	url = git@github.com:xmarts/odoo-account-budget-alert-enterprise.git
	branch = 14.0
